---
layout: default
title: Homepage
scripts:
 - index
---
<main class="main container">
    <section class="about">
        <h3>About Me</h3>
        <div class="list-group">
          <a href="http://www.uchicago.edu/" target="_blank" class="list-group-item">
            <img src="/assets/img/uchicago.png" class="img-school-badge left">
            <h4>University of Chicago, 2013 - 2017 (expected)</h4>
            <div class="progress progress-striped animate">
                <div class="progress-bar" id="progress-college"></div>
            </div>
          </a>
          <a href="http://www.rdfz.cn/" target="_blank" class="list-group-item">
            <img src="/assets/img/rdfz.jpg" class="img-school-badge right">
            <h4>High School Affiliated to Renmin University of China, 2007 - 2013</h4>
            <div class="progress progress-striped">
                <div class="progress-bar" id="progress-high-school"></div>
            </div>
          </a>
        </div>
    </section>
    <hr>
    <section class="projects">
        <h3>My Projects</h3>
        <p>This section is an index of the complete and incomplete projects hosted on this website. Many of them are pretty fun.</p>
<table class="table table-hover">
  <tbody>
  {% for category in site.data.projects %}
  <tr>
      <th colspan="3">{{ category.name }}</th>
  </tr>
    {% for entry in category.entries %}
  <tr>
      <td class="td-project"><a href="{{ entry.url }}">{{ entry.name }}</a></td>
      <td>{{ entry.description }}</td>
      <td class="td-time">{{ entry.time }}</td>
  </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
    </section>
    <hr>
</main>
