@import "bootflat/global";
@import "bootflat/bootstrap/variables";

.header {
    height: 200px;
    width: 100%;
    background-color: $bluejeans-dark;
    color: $lightgray-light;
    h1 {
        font-weight: 600;
        font-size: 60px;
        margin: 40px 0 20px 0;
    }
    a h1 {
        color: $lightgray-light;
        &:hover, &:focus {
            color: $lightgray-dark;
        }
    }
    .description {
        font-size: 20px;
        padding-left: 6px;
    }
    code {
        background: none;
        color: inherit;
    }
}

.logo {
    width: 160px;
    height: 160px;
}

.panel-logo {
    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 80px;
        right: 140px;
        z-index: 1;
    }
    width: 160px;
}

.about {
    h4 {
        font-weight: 300;
    }
    .progress {
        font-weight: 400;
    }
    $school-badge-size: 80px;
    .img-school-badge {
        height: $school-badge-size;
        max-width: $school-badge-size;
    }
    .left {
        float: left;
        margin-right: ($school-badge-size / 3);
    }
    .right {
        float: right;
        margin-left: ($school-badge-size / 3);
    }
    .list-group-schools {
        // width: 75%;
    }
}

.td-project {
    font-weight: 700;
    width: 30%;
}
.td-time {
    max-width: 12%;
    text-align: right;
}


.footer {
    color: $lightgray-light;
    a {
        color: $lightgray-light;
    }
}
